Repository jagoqui/real-estate-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run test:staged, npm run markdownlint

.lintstagedrc.json:

{
  "./src/**/*.ts*": ["npm run lint", "npm run format", "npm run test:staged"],
  "./documentation/**/*.md": ["npm run markdownlint"]
}

chore: update SonarQube and test setup to support .test.ts* files
  sonar-project.properties
  src/tests/setup-vitest.ts
Due: npm run lint, npm run format, npm run test:staged

refactor: update ESLint configuration to use base config and streamline overrides
  eslint.config.mjs
  eslint.config.react.mjs
  eslint.config.test.mjs
Due: none

build: modularize Vite configuration for base, React, and Vitest environments
  vite.config.base.ts
  vite.config.react.ts
  vite.config.ts
  vitest.config.ts
Due: none

Moves config files to subdirectories for structure
  config/eslint/eslint.config.base.mjs
  config/eslint/eslint.config.react.mjs
  config/eslint/eslint.config.test.mjs
  config/vite/vite.config.base.ts
  config/vite/vite.config.react.ts
  config/vite/vitest.config.ts
  eslint.config.mjs
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: none

Standardizes environment variable naming to MODE
  .markdownlint.json
  .prettierrc
  config/vite/vite.config.base.ts
  data/mocks/envs/envs.mock.ts
  documentation/shared/enviroments-setup.md
  documentation/shared/quick-start-guide.md
  package.json
  src/app/modules/shared/domain/helpers/objects/__test__/objects.helper.test.ts
  src/app/modules/shared/domain/helpers/objects/objects.helper.ts
  src/app/variables/application/adapters/__test__/env.adapter.test.ts
  src/app/variables/application/adapters/env.adapter.ts
  src/app/variables/domain/schemas/env.schema.ts
  src/components/constants/ui.constants.ts
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/separator.tsx
  src/main.tsx
  src/tests/setup-vitest.ts
  src/vite-env.d.ts
  tsconfig.app.json
Due: npm run lint, npm run format, npm run test:staged, npm run markdownlint

Adds SonarQube test execution reporting support
  bun.lock
  config/vite/vitest.config.ts
  package.json
  scripts/docker-entrypoint.sh
  scripts/sonar-scanner.js
  sonar-project.properties
Due: none

feat(scripts): migrate Node scripts to ES modules and improve environment loading
  scripts/load-env.js
  scripts/snyk.js
Due: none

fix(tsconfig): correct paths for build info and config includes
  tsconfig.node.json
Due: none

chore(package): add dotnet dependency
  package.json
Due: none

Simplifies Snyk env loading and removes unused script
  package.json
  scripts/load-env.js
  scripts/snyk.js
Due: none

chore: update Prettier, ESLint, and Vite configuration for consistency
  .husky/pre-commit
  .prettierrc
  config/eslint/eslint.config.base.mjs
  config/vite/vite.config.base.ts
  config/vite/vitest.config.ts
  eslint.config.mjs
  sonar-project.properties
Due: none

refactor: update components.json aliases to new shared UI structure
  components.json
Due: none

build: update dependencies and scripts for new features and code structure
  package.json
  tsconfig.app.json
  tsconfig.base.json
Due: none

docs: update documentation for new packages and hexagonal architecture rule options
  documentation/shared/packages-use.md
  documentation/shared/tests-and-linting.md
Due: npm run markdownlint

feat(auth): add shared domain logic, schemas, and localStorage key for auth
  src/app/modules/shared/domain/businessLogic/getAuthTokenBL/getAuthTokenBL.ts
  src/app/modules/shared/domain/constants/localStorageKeys.constants.ts
  src/app/modules/shared/domain/schemas/authResponse.schema.ts
  src/app/modules/shared/domain/schemas/commonsValidations.schema.ts
  src/app/modules/shared/domain/schemas/token.schema.ts
  src/app/modules/shared/domain/schemas/user.schema.ts
  src/app/modules/shared/domain/schemas/userRole.schema.ts
Due: npm run lint, npm run format, npm run test:staged

feat(shared UI): add React Router and shared UI containers, layouts, and hooks
  src/app/modules/shared/infrastructure/ui/react/components/notFountPage/notFountPage.tsx
  src/app/modules/shared/infrastructure/ui/react/constants/main.constants.ts
  src/app/modules/shared/infrastructure/ui/react/containers/blockedAuth/blockedAuth.container.tsx
  src/app/modules/shared/infrastructure/ui/react/containers/home/home.container.tsx
  src/app/modules/shared/infrastructure/ui/react/containers/main/main.container.tsx
  src/app/modules/shared/infrastructure/ui/react/containers/routeWithAuthContext/routeWithAuthContext.container.tsx
  src/app/modules/shared/infrastructure/ui/react/contexts/authResponse/authResponse.context.ts
  src/app/modules/shared/infrastructure/ui/react/hooks/useAuthResponseStorage/useAuthResponseStorage.ts
  src/app/modules/shared/infrastructure/ui/react/hooks/useGoogleProviderValidator/useGoogleProviderValidator.ts
  src/app/modules/shared/infrastructure/ui/react/layouts/home/home.layout.tsx
  src/app/modules/shared/infrastructure/ui/react/providers/authResponse/authResponse.provider.tsx
  src/app/modules/shared/infrastructure/ui/react/route/root.route.tsx
  src/app/modules/shared/infrastructure/ui/react/router/app.router.tsx
Due: npm run lint, npm run format, npm run test:staged

refactor(shared UI): migrate ShadCN UI components, constants, and utils to shared infrastructure
  src/app/modules/shared/infrastructure/ui/shadcn/components/constants/ui.constants.ts
  src/app/modules/shared/infrastructure/ui/shadcn/components/ui/button.tsx
  src/app/modules/shared/infrastructure/ui/shadcn/components/ui/card.tsx
  src/app/modules/shared/infrastructure/ui/shadcn/components/ui/checkbox.tsx
  src/app/modules/shared/infrastructure/ui/shadcn/components/ui/form.tsx
  src/app/modules/shared/infrastructure/ui/shadcn/components/ui/input.tsx
  src/app/modules/shared/infrastructure/ui/shadcn/components/ui/label.tsx
  src/app/modules/shared/infrastructure/ui/shadcn/components/ui/separator.tsx
  src/app/modules/shared/infrastructure/ui/shadcn/components/ui/sonner.tsx
  src/app/modules/shared/infrastructure/ui/shadcn/lib/utils.ts
Due: npm run lint, npm run format, npm run test:staged

chore: update environment logic for staging mode and improved error handling
  src/app/variables/application/adapters/env.adapter.ts
  src/app/variables/domain/schemas/env.schema.ts
Due: npm run lint, npm run format, npm run test:staged

test: add data mocks for authentication, tokens, users, and owners
  data/mocks/authResponse/authResponse.mock.ts
  data/mocks/authResponse/authResponseDto.mock.ts
  data/mocks/createUser/createUser.mock.ts
  data/mocks/loginUserWithEmailAndPassword/loginUserWithEmailAndPassword.mock.ts
  data/mocks/owners/owner.mock.ts
  data/mocks/owners/ownerDto.mock.ts
  data/mocks/token/token.mock.ts
  data/mocks/token/tokenDto.mock.ts
  data/mocks/users/user.mock.ts
  data/mocks/users/userDto.mock.ts
Due: none

feat: add owner domain, DTOs, adapters, requests, and tests
  src/app/modules/owners/application/adapters/ownerDto/__test__/ownerDto.adapter.test.ts
  src/app/modules/owners/application/adapters/ownerDto/ownerDto.adapter.ts
  src/app/modules/owners/application/dtos/owner.dto.ts
  src/app/modules/owners/domain/contracts/ownerRequest.contract.ts
  src/app/modules/owners/domain/schemas/owner.schema.ts
  src/app/modules/owners/infrastructure/requests/getOwnerByIdRequest/__test__/getOwnerById.request.test.ts
  src/app/modules/owners/infrastructure/requests/getOwnerByIdRequest/getOwnerById.request.ts
Due: npm run lint, npm run format, npm run test:staged

refactor: update ky client to inject Bearer token from shared domain logic
  src/app/modules/shared/infrastructure/clients/ky/ky.client.ts
Due: npm run lint, npm run format, npm run test:staged

refactor: update main entry to use new MainContainer path
  src/main.tsx
Due: npm run lint, npm run format, npm run test:staged

feat: improve ESLint hexagonal architecture plugin with new config options and documentation
  tools/eslint-plugin-hexagonal/index.mjs
  tools/eslint-plugin-hexagonal/rules/no-invalid-architecture-imports.mjs
Due: none

style: overhaul index.css for new color palette, theme variables, and shadow system
  src/index.css
Due: none

refactor(auth): remove legacy login DTOs and UI containers
  src/app/modules/auth/domain/contracts/authRequest.contract.ts
  src/app/modules/auth/domain/schemas/loginWithEmailAndPasswordFormValues.schema.ts
  src/app/modules/auth/domain/schemas/registerFormValues.schema.ts
  src/app/modules/login/application/dtos/authState.dto.ts
  src/app/modules/login/application/dtos/googleCredentialResponse.dto.ts
  src/app/modules/login/application/dtos/googleUser.dto.ts
  src/app/modules/login/infrastructure/UI/components/Login.tsx
Due: npm run lint, npm run format, npm run test:staged

Update home layout to use logout hook and display user info
  src/app/modules/shared/infrastructure/ui/react/layouts/home/home.layout.tsx
Due: npm run lint, npm run format, npm run test:staged

Refactor AuthContainer to remove redundant provider wrapper
  src/app/modules/auth/infrastructure/ui/react/containers/auth/auth.container.tsx
Due: npm run lint, npm run format, npm run test:staged

Refactor authentication context and routing integration for shared provider
  src/app/modules/shared/infrastructure/ui/react/containers/main/main.container.tsx
  src/app/modules/shared/infrastructure/ui/react/containers/routeWithAuthContext/routeWithAuthContext.container.tsx
  src/app/modules/shared/infrastructure/ui/react/router/app.router.tsx
Due: npm run lint, npm run format, npm run test:staged

Add useLogoutRequest hook for logout mutation handling
  src/app/modules/auth/infrastructure/ui/react/hooks/useLogoutRequest/useLogoutRequest.ts
Due: npm run lint, npm run format, npm run test:staged

Augment AuthRequestsProvider with navigation and initial refresh logic
  src/app/modules/auth/infrastructure/ui/react/providers/authRequest/authRequest.provider.tsx
Due: npm run lint, npm run format, npm run test:staged

Enhance useRefreshTokenRequest with localStorage clearing on error
  src/app/modules/auth/infrastructure/ui/react/hooks/useRefreshTokenRequest/useRefreshTokenRequest.ts
Due: npm run lint, npm run format, npm run test:staged

Refactor route constants and navigation to use new base path
  src/app/modules/auth/infrastructure/ui/react/providers/authRequest/authRequest.provider.tsx
  src/app/modules/auth/infrastructure/ui/react/route/auth.route.tsx
  src/app/modules/shared/infrastructure/ui/react/constants/main.constants.ts
Due: npm run lint, npm run format, npm run test:staged

Set application base path and homepage for GitHub Pages deployment
  config/vite/vite.config.base.ts
  package.json
Due: none

Rename mainRouter to appRouter and update router usage
  src/app/modules/shared/infrastructure/ui/react/containers/main/main.container.tsx
  src/app/modules/shared/infrastructure/ui/react/router/app.router.tsx
Due: npm run lint, npm run format, npm run test:staged

Update navigation logic to use BASE_PATH instead of HOME
  src/app/modules/shared/infrastructure/ui/react/containers/blockedAuth/blockedAuth.container.tsx
  src/app/modules/shared/infrastructure/ui/react/router/app.router.tsx
Due: npm run lint, npm run format, npm run test:staged

Add deploy script and gh-pages dependency for static site deployment
  package.json
Due: none

Adds GitLab CI config for Bun deploy and fixes base URL
  .gitlab-ci.yml
  config/vite/vite.config.base.ts
Due: none

Updates environment path handling and login message
  config/vite/vite.config.base.ts
  src/app/modules/shared/infrastructure/ui/react/layouts/home/home.layout.tsx
Due: npm run lint, npm run format, npm run test:staged

Updates production env path resolution
  config/vite/vite.config.base.ts
Due: none
